{
   "parserOptions": {
      "parser": "babel-eslint"
   },
   "extends": ["airbnb-base", "plugin:vue/recommended"],
   "plugins": ["prettier"],
   "rules": {
      "indent": ["error", 3],
      "brace-style": ["error", "stroustrup"]
   }
}
